.github @enzogaggiotti
.gitignore @enzogaggiotti
pre-commit-config.yaml @enzogaggiotti

LICENSE @enzogaggiotti
README.md @enzogaggiotti
docs @enzogaggiotti

aegis @enzogaggiotti
buf.yaml @enzogaggiotti
